##### -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

In [1]:
# print every char of the string
s = 'abcde'
for c in s:
    print(c)

a
b
c
d
e

##### -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

##### ***Print natural numbers***

In [2]:
# range(start, stop, stride)
# it will get you printed till n-1
# output will be stopped at stop-1
n = int(input())
for i in range( n):
    print(i)

print('----------')

for i in range(1, n):
    print(i)
    
print('----------')

for i in range(1, n, 1):
    print(i)

print('----------')

for i in range(1, n+1, 1):
    print(i)

 8

0
1
2
3
4
5
6
7
----------
1
2
3
4
5
6
7
----------
1
2
3
4
5
6
7
----------
1
2
3
4
5
6
7
8

In [3]:
for i in range(1, 5, 2):
    print(i, end=' ')

1 3

##### -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

In [4]:
# When assigning only one value to range
# By default, start is 0
# By default, print(i) is print(i, end='\n')
# By default, stride/step is 1
n = int(input())
for i in range(n + 1):
    print(i, end=' ')

 22

0 1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22

In [ ]:
# If we assign two values to range: 
# It will take 1st arg as start and second as stop
# By default, step is 1
n = int(input())
for i in range(1, n):
    print(i)
# below here, it will do nothing, why?
m = int(input())
for i in range(m+1, 1):
    print(i)
# above piece of code is saying that go from n+1 to 1 by increasing by 1
# if input is negative then it will work fine

 7

1
2
3
4
5
6

 7

##### -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

##### ***Print numbers from n to 1***

In [6]:
n = int(input())
for i in range(n, 0, -1):
    print(i)

 7

7
6
5
4
3
2
1

##### -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

##### ***Print multiples of 3***

In [7]:
a = int(input())
b = int(input())
if a < b:
    for i in range(a, b+1, 1):
        if i % 3 == 0:
            print(i)
else:
    for i in range(a, b-1, -1):
        if i % 3 == 0:
            print(i)

 5
 3

3

In [8]:
a = int(input())
b = int(input())

if a % 3 == 0:
    s = a
elif a % 3 == 1:
    s = a + 2
else:
    s = a + 1
    
for i in range(s, b+1, 3):
    print(i)

 5
 25

6
9
12
15
18
21
24

##### -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

##### ***Check Primality***

In [9]:
n = int(input())
flag = False
for i in range(2, n, 1):
    if n % i == 0:
        flag = True
if flag:
    print('Not Prime')
else:
    print('Prime')

 56

Not Prime

##### -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

Print the following pattern
For N = 4
   1
  232
 34543
4567654

In [1]:
n = int(input())
for i in range(1, n+1, 1):
    for sp in range(n-i):
        print(' ', end = '')
    for j in range(i, 2*i, 1):
        print(j, end = '')
    for j in range(2 * i - 2, i-1, -1):
        print(j, end = '')
    print()

 5

    1
   232
  34543
 4567654
567898765

##### -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

#### ***Break Keyword***

In [11]:
i = 1
while i < 10:
    if i == 5:
        break
    print(i)
    i += 1

1
2
3
4

In [12]:
n = int(input())
d = 2
flag = False
while d < n:
    if (n % d == 0):
        flag = True
        break
    d += 1
    
if flag:
    print('not Prime')
else:
    print('Prime')

 3211

not Prime

In [13]:
n = int(input())
k = 2
while k <= n:
    d = 2
    flag = False
    while d < k:
        if k % d == 0:
            flag = True
            break
        d += 1
    if not(flag):
        print(k)
    k += 1

 22

2
3
5
7
11
13
17
19

##### -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

#### ***Else Keyword with loops***

while (condition):

else:

----
We can come out of while loop either
1. condition is False, or
2. we have hit a break statement
----
Code inside else will not be executed if while or for loop is finished because of break statement.

In [14]:
i = 1
while i < 10:
    print(i)
    i += 1
else:
    print("This will be printed once at the end.")

1
2
3
4
5
6
7
8
9
This will be printed once at the end.

In [15]:
for i in range(1, 10):
    print(i)
else:
    print("This will also be printed once at the end")

1
2
3
4
5
6
7
8
9
This will also be printed once at the end

In [16]:
for i in range(1, 10):
    if i == 5:
        break
    print(i)
else:
    print("This will be printed once at the end.")

1
2
3
4

In [17]:
n = int(input())
for d in range(2, n, 1):
    if n % d == 0:
        print('Not Prime')
        break
else:
    print('Prime Number')

 11

Prime Number

##### -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

#### ***Continue Keyword***

Continue is used to skip an iteration

In [18]:
for i in range(1, 31, 1):
    if i % 3 == 0 or i % 2 == 0:
        continue
    print(i)

1
5
7
11
13
17
19
23
25
29

In [19]:
n = int(input())
for i in range(2, n + 1, 2):
    if i % 7 == 0:
        continue
    print(i)

 15

2
4
6
8
10
12

In [20]:
# Print twice but multiple of 7 only once
n = int(input())
for i in range(2, n + 1, 2):
    print(i)
    if i % 7 == 0:
        continue
    print(i)

 15

2
2
4
4
6
6
8
8
10
10
12
12
14

In [21]:
n = int(input())
i = 2
while i <= n:
    if i % 7 == 0:
        i += 2       # if it is not here then infinite loop
        continue
    print(i)
    i += 2

 15

2
4
6
8
10
12

##### -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

In [22]:
i = 1
while i < 3:
    j = 0
    while j < 5:
        j += 1
        if j == 3:
            continue
        print(j, end = ' ')
    i += 1

1 2 4 5 1 2 4 5

##### -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

#### ***Pass Statement***

Generally, pass is used as a dummy inside loop and conditionals.
While working with loops, sometimes it can be useful if there is something which is not striking at that time, use pass.
Otherwise it is of no much useful.

In [23]:
# We can't leave a conditional or loop without any statement inside it
# So, we use pass statement to leave it
i = 3
if i < 7:
    pass
print('Hey')

Hey

In [24]:
i = 1 
while i <= 3:
    pass
    i += 1     # if we don't increment i then it will keep passing and it will be infinite loop
print('end')

end

In [25]:
for i in range(1, 4):
    pass 
print('end')

end

##### -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

Binary Pattern

Print the following pattern for the given number of rows.
Pattern for N = 4
1111
000
11
0

In [26]:
n = int(input())
for i in range(1, n+1):
    for j in range(1, n - i + 2):
        if i % 2 == 0:
            print('0', end = '')
        else:
            print('1',end = '')
    print()

 15

111111111111111
00000000000000
1111111111111
000000000000
11111111111
0000000000
111111111
00000000
1111111
000000
11111
0000
111
00
1

##### -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

Number Pyramid

Print the following pattern for the given number of rows.
Pattern for N = 6

123456
 23456
  3456
   456
    56
     6
    56
   456
  3456
 23456
123456

In [27]:
n = int(input())
for i in range(1, n+1):
    for j in range(i-1):
    # while j <= i-1:
        print(" ", end = '')
        # j += 1
    for j in range(i, n+1):
        print(j, end = '')
    print()
for i in range(1, n):
    for j in range(1, n-i, 1):
        print(' ', end = '')
    for j in range(i+1):
        print(n- i + j, end = '')
    print()

 5

12345
 2345
  345
   45
    5
   45
  345
 2345
12345

##### -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

Diamond of Stars
Print the following pattern for the given number of rows.
Note: N is always odd.


Pattern for N = 5

  *
 ***
*****
 ***
  *

In [28]:
N = int(input())
n = (N+1)//2
for i in range(1,n+1):
    for j in range(1,n-i+1):
        print(' ', end = '')
    for j in range(i):
        print('*', end = '')
    for j in range(i-1):
        print('*', end ='')
    print()

for i in range(1, n):
    for j in range(i):
        print(' ', end = '')
    for j in range(n - i):
        print('*', end = '')
    for j in range(n - i - 1):
        print('*', end = '')
    print()

 5

  *
 ***
*****
 ***
  *

##### -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

Rectangular Numbers
Print the following pattern for the given number of rows.
Pattern for N = 4
4444444
4333334
4322234
4321234
4322234
4333334  
4444444

In [18]:
n = int(input())
for i in range(1,n+1):
    for j in range(1,i):
        print(n - j + 1, end = '')
    for j in range(i, n + 1):
        print(n - i + 1, end = '')
    for j in range(1, n-i+1):
        print(n - i + 1, end = '')
    for j in range(1,i):
        print(n - i + j + 1, end = '')
    print()
n2 = n - 1
for i in range(1, n):
    for j in range(1, n2 - i + 1):
        print(n - j + 1, end = '')
    for j in range(1, i+2):
        print(i + 1, end = '')
    for j in range(i):
        print(i + 1, end = '')
    for j in range(1, n-i):
        print(i + j + 1, end = '')
    print()

 6

66666666666
65555555556
65444444456
65433333456
65432223456
65432123456
65432223456
65433333456
65444444456
65555555556
66666666666

##### -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

Print the following pattern for the given number of rows.
Pattern for N = 5
 1    2   3    4   5
 11   12  13   14  15
 21   22  23   24  25
 16   17  18   19  20
 6    7    8   9   10
Input format : N (Total no. of rows)

Output format : Pattern in N lines

Sample Input :
4
Sample Output :
 1  2  3  4
 9 10 11 12
13 14 15 16
 5  6  7  8

In [16]:
n = int(input())
start = 1
for row in range(1, n+1):
    for col in range(start, start+n):
        print(col, end = '  ')
    print()
    if row == (n+1)//2:
        if n%2 != 0:
            start = n*(n-2) + 1
        else:
            start = n*(n-1) + 1
    elif row > (n+1)//2:
        start = start - 2 * n
    else:
        start = start + 2 * n

 6

1  2  3  4  5  6
13  14  15  16  17  18
25  26  27  28  29  30
31  32  33  34  35  36
19  20  21  22  23  24
7  8  9  10  11  12

##### -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------