##### -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

##### ***Print the following pattern for the given N number of rows.***
###### Pattern for N = 4
###### ****
###### ***
###### **
###### *

In [5]:
n  = int(input())
i = 1
while i <= n:
    j = 1
    while j <= n - i + 1:
        print('*', end = '')
        j += 1
    print()
    i += 1

 4

****
***
**
*

##### -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

##### ***Print the following pattern for the given N number of rows.***
###### Pattern for N = 4
###### 4444
###### 333
###### 22
###### 1

In [8]:
n = int(input())
i = 1
while i <= n:
    j = 1
    while j <= n - i + 1:
        print(n - i + 1, end = '')
        j = j + 1
    print()
    i += 1

 4

4444
333
22
1

##### -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

Print the following pattern for the given N number of rows.
Pattern for N = 4
   *
  **
 ***
****

In [12]:
n = int(input())
i = 1
while i <= n:
    j = 1
    while j <= n:
        while j <= n-i:
            print(' ', end = '')
            j += 1
        print('*', end = '')
        j = j+ 1
    print()
    i = i + 1

 4

   *
  **
 ***
****

In [13]:
n = int(input())
i = 1
while i <= n:
    spaces = 1
    while spaces <= n - i:
        print(' ', end = '')
        spaces += 1
    stars = 1
    while stars <= i:
        print("*", end = '')
        stars = stars + 1
    print()
    i = i + 1

 4

   *
  **
 ***
****

##### -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

Print the following pattern for the given N number of rows.
Pattern for N = 4
   1
  12
 123
1234

In [20]:
n = int(input())
i = 1
while i <= n:
    spaces = 1
    while spaces <= n - i:
        print(' ', end = '')
        spaces += 1
    numbers = 1
    num = 1
    while numbers <= i:
        print(num, end = '')
        num += 1
        numbers += 1
    print()
    i += 1

 5

    1
   12
  123
 1234
12345

##### -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

Print the following pattern for the given N number of rows.
Pattern for N = 4
   1
  121
 12321
1234321

In [25]:
n = int(input())
i = 1
while i <= n:
    spaces = 1
    while spaces <= n - i:
        print(' ', end = '')
        spaces += 1
    numbers = 1
    num = 1
    #increasing sequence
    while numbers <= i:
        print(num, end = '')
        num += 1
        numbers += 1
    #decreasing sequence
    num = i - 1
    while num >= 1:
        print(num, end = '')
        num = num - 1
    print()
    i += 1

 4

   1
  121
 12321
1234321

##### -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

Print the following pattern for the given N number of rows.
Pattern for N = 4
   *
  ***
 *****
*******

In [44]:
n = int(input())
i = 1
while i <= n:
    spaces = 1
    while spaces <= n-i:
        print(' ', end = '')
        spaces += 1
        
    p = 1
    j = 1
    while j <= i:
        print('*', end = '')
        j += 1
        p += 1
        
    p = i - 1
    while p >= 1:
        print('*',end = '')
        p = p - 1
    print()
    i = i + 1

 4

   *
  ***
 *****
*******

##### -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

Print the following pattern for the given N number of rows.
Pattern for N = 4
   1
  232
 34543
4567654

In [57]:
n = int(input())
i = 1
while i <= n:
    spaces = 1
    while spaces <= n-i:
        print(' ', end = '')
        spaces += 1
    p = i
    j = 1
    while j <= i:
        print(p, end = '')
        p += 1
        j += 1
    p = 2 * i - 2
    while p >= i:
        print(p, end = '')
        p = p - 1
    
    print()
    i = i + 1

 5

    1
   232
  34543
 4567654
567898765

##### -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

Print the following pattern for the given N number of rows.
Pattern for N = 5
  *
 ***
*****
 ***
  *

In [128]:
N = int(input())
if N % 2 == 0:
    print("Invalid Input")
n = (N+1)//2
i = 1
while i <= n:
    spaces = 1
    while spaces <= n-i:
        print(' ', end = '')
        spaces += 1
    p = 1
    j = 1
    while j <= i:
        print('*', end = '')
        j += 1
        p += 1
    p = i - 1
    while p >= 1:
        print('*', end = '')
        p = p - 1
    print()
    i = i + 1
    
n2 = n - 1
i = 1 
while i <= n2:
    space = 1
    while space <= i:
        print(' ', end = '')
        space += 1
    p = 1
    j = 1
    while j <= n2 - i + 1:
        print('*', end = '')
        j += 1
    p  = n2 - i
    while p >= 1:
        print('*', end ='')
        p -= 1
    print()
    i = i + 1

 7

   *
  ***
 *****
*******
 *****
  ***
   *

##### -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

Print the following pattern for the given N number of rows.
Pattern for N = 5
1    1
12   21
123  321
1234 4321
1234554321

In [143]:
n = int(input())
i = 1
while i <= n:
    
    p = 1
    j = 1
    while j <= i:
        print(p, end = '')
        p += 1
        j += 1
    spaces = 1
    while spaces <= n - i:
        print(' ', end = '')
        spaces += 1
    j = 1
    p = i
    while j <= i:
        print(p, end = '')
        j = j+ 1
        p = p - 1 
    print()
    i += 1

 5

1    1
12   21
123  321
1234 4321
1234554321

##### -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

Print the following pattern for the given N number of rows.
Pattern for N = 4
*000*000*
0*00*00*0
00*0*0*00
000***000

In [187]:
n = int(input())
i = 1
while i <= n:
    zeroes = 1
    while zeroes <= i - 1:
        print('0', end = '')
        zeroes += 1
    stars = i
    while stars == i:
        print('*', end = '')
        stars += 1
    zeroes = 1
    while zeroes <= n-i:
        print('0', end = '')
        zeroes += 1
    j = 1
    while j == 1:
        print('*', end = '')
        j += 1
    zeroes = 1
    while zeroes <= n-i:
        print('0', end = '')
        zeroes += 1
    stars = n - i + 1
    while stars == n - i + 1:
        print('*', end = '')
        stars += 1
    zeroes = 1
    while zeroes <= i - 1:
        print('0',end = '')
        zeroes += 1
        
    print()
    i += 1

 3

*00*00*
0*0*0*0
00***00

In [188]:
n = int(input())
start = 1
end = 2 * n + 1
mid = n + 1
row = 1
while row <= n:
    column = 1
    while (column <= 2 * n + 1):
        if (column == start or column == mid or column == end):
            print('*', end = '')
        else:
            print('0', end = '')
        column += 1
    start += 1
    end -= 1
    row += 1
    print()

 5

*0000*0000*
0*000*000*0
00*00*00*00
000*0*0*000
0000***0000

##### -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

Print the following pattern for the given N number of rows.
Pattern for N = 5
    1
   212
  32123
 4321234
543212345

In [151]:
n = int(input())
i = 1
while i <= n:
    spaces = 1
    while spaces <= n - i:
        print(' ', end = '')
        spaces += 1
    p = i
    j = 1
    while j <= i:
        print(p, end = '')
        j += 1
        p -= 1
    p = 2
    j = 1
    while j <= i - 1:
        print(p, end = '')
        p = p + 1
        j += 1
    print()
    i += 1

 5

    1
   212
  32123
 4321234
543212345

##### -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

Print the following pattern for the given N number of rows.
Pattern for N = 7
*
 **
  ***
   ****
  ***
 **
*

In [156]:
N = int(input())
n1 = (N + 1)//2
i = 1
while i <= n1:
    spaces = 1
    while spaces <= i - 1:
        print(' ', end = '')
        spaces += 1
    
    j = 1
    while j <= i:
        print('*', end = ' ')
        j += 1
        
    print()
    i += 1 
n2 = n1 - 1
i = 1
while i <= n2:
    spaces = 1 
    while spaces <= n2 - i:
        print(' ', end = '')
        spaces += 1
    
    j = 1
    while j <= n2 - i + 1:
        print('*', end = ' ')
        j = j+ 1
    print()
    i += 1

 7

*
 * *
  * * *
   * * * *
  * * *
 * *
*

##### -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------