##### -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

##### ***Answer three question for every pattern you print.***
######
###### 1. How many rows you have to print?
###### 2. How many columns you have to print? for (i)th row? 
###### 3. What to print?

##### -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

##### Pattern

###### ****
###### ****
###### ****
###### ****

In [19]:
n = int(input())
i = 1
while i <= n:
    print('*' * n)    # This code will produce same output
    i = i + 1

 4

****
****
****
****

In [9]:
n = int(input())
i = 1

while i <= n:
    j = 1
    while j <= n:
        print('*', end = '')
        j = j + 1
    print()
    i = i + 1

 4

****
****
****
****

##### -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

#### ***Square Pattern***

##### -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

###### ***Print the following pattern for the given N number of rows.***
###### Pattern for N = 4
###### 4444
###### 4444
###### 4444
###### 4444

In [21]:
n = int(input())

i = 1
while i <= n:
    j = 1
    while j <= n:
        print(n, end = '')
        j = j + 1
    print()
    i = i + 1

 4

4444
4444
4444
4444

##### -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

##### ***Print the following pattern for the given N number of rows.***
###### Pattern for N = 4
###### 1111
###### 2222
###### 3333
###### 4444

In [2]:
n = int(input())

i = 1
while i <= n:
    j = 1
    while j <= n:
        print(i, end = '')
        j = j + 1
    print()
    i = i + 1

 4

1111
2222
3333
4444

##### -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

##### ***Print the following pattern for the given N number of rows.***
###### Pattern for N = 4
###### 1234
###### 1234
###### 1234
###### 1234

In [3]:
n = int(input())
i = 1
while i <= n:
    j = 1
    while j <= n:
        print(j, end = '')
        j = j + 1
    print()
    i = i + 1

 4

1234
1234
1234
1234

##### -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

##### ***Print the following pattern for the given N number of rows.***
###### Pattern for N = 4
###### 4321
###### 4321
###### 4321
###### 4321

In [10]:
n = int(input())

# i = 1
# while i <= n:
#     j = n
#     while j >= 1:
#         print(j, end = '')
#         j = j - 1
#     print()
#     i = i + 1
##### Above piece of code will also work fine

i = 1
while i <=n:
    j = 1
    while j <= n:
        print(n - j + 1, end = '')
        j = j + 1
    print()
    i = i + 1

 4

4321
4321
4321
4321

##### -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

#### ***Triangular Pattern***

##### -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

##### ***Print the following pattern for the given N number of rows.***
###### Pattern for N = 4
###### 1
###### 12
###### 123
###### 1234

In [16]:
n = int(input())
i = 1
while i <= n:
    j = 1
    while j <= i:
        print(j, end = '')
        j = j + 1
    print()
    i = i + 1

 4

1
12
123
1234

##### -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

##### ***Print the following pattern for the given N number of rows.***
###### Pattern for N = 4
###### 1
###### 23
###### 345
###### 4567

In [25]:
n = int(input())
i = 1
while i <= n:
    j = 1
    while j <= i:
        print(i + j - 1, end = '')
        j = j + 1
    print()
    i = i + 1

 4

1
23
345
4567

In [37]:
n = int(input())
i = 1
while i <= n:
    j = 1
    p = i
    while j <= i:
        print(p, end = '')
        j = j + 1
        p = p + 1
    print()
    i = i + 1

 4

1
23
345
4567

##### -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

##### ***Print the following pattern for the given N number of rows.***
###### Pattern for N = 4
###### 1
###### 2 3
###### 4 5 6
###### 7 8 9 10

In [34]:
n = int(input())
i = 1
p = 1

while i <= n:
    j = 1
    while j <= i:
        print(p, end = ' ')
        j = j + 1
        p = p + 1
        
    print()
    i = i + 1

 4

1
2 3
4 5 6
7 8 9 10

##### -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

##### ***Print the following pattern for the given N number of rows.***
###### Pattern for N = 4
###### *
###### **
###### ***
###### ****

In [38]:
n = int(input())
i = 1
while i <= n:
    j = 1
    while j <= i:
        print('*', end = '')
        j = j + 1
    print()
    i = i + 1

 4

*
**
***
****

##### -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

##### ***Print the following pattern for the given N number of rows.***
###### Pattern for N = 4
###### 1
###### 22
###### 333
###### 4444

In [41]:
n = int(input())
i = 1
while i <= n:
    j = 1
    while j <= i:
        print(i, end = '')
        j = j + 1
    print()
    i = i + 1

 4

1
22
333
4444

##### -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

##### ***Print the following pattern for the given N number of rows.***
###### Pattern for N = 4
###### 1
###### 21
###### 321
###### 4321

In [46]:
n = int(input())
i = 1
while i <= n:
    j = 1 
    p = (n - (n - i))
    while j <= i:
        print(p, end = '')
        j = j + 1
        p = p - 1
    print()
    i = i + 1

 5

1
21
321
4321
54321

##### -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

#### ***Character Patterns***

##### -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

###### How to print (K)th character by ord and chr method

In [7]:
#print kth alphabet
k = int(input())
# 'A' + k - 1
# Find ascii val of 'A'
# Add k - 1 in it
# Find char corresponding to number of 2nd step no.
x = ord('A')
asciiTarget = x + k - 1
targetChar = chr(asciiTarget)
print(targetChar)

 4

D

##### -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

##### ***Print the following pattern for the given N number of rows.***
###### Pattern for N = 4
###### ABCD
###### ABCD
###### ABCD
###### ABCD

In [17]:
n = int(input())
i = 1
while i <= n:
    j = 1
    while j <= n:
        charP = chr(ord('A') + j - 1)
        print(charP, end = '')
        j += 1
    print()
    i += 1

 4

ABCD
ABCD
ABCD
ABCD

##### -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

##### ***Print the following pattern for the given N number of rows.***
###### Pattern for N = 4
###### ABCD
###### BCDE
###### CDEF
###### DEFG

In [24]:
n = int(input())
i = 1

while i <= n:
    j = 1
    startChar = 'A'
    while j <= n:
        # charP = chr(ord(startChar) + j - 1)   
        # Above line of code will print ABC\n ABC\n ABC\n for n = 3
        
        charP = chr(ord(startChar) + i + j - 2)
        print(charP, end = '')
        j += 1
    print()
    i += 1

 4

ABCD
BCDE
CDEF
DEFG

In [26]:
n = int(input())
i = 1

while i <= n:
    j = 1
    startChar = chr(ord('A') + i - 1)
    while j <= n:
        charP = chr(ord(startChar) + j - 1)
        print(charP, end = '')
        j += 1
    print()
    i += 1

 4

ABCD
BCDE
CDEF
DEFG

##### -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

##### ***Print the following pattern for the given N number of rows.***
###### Pattern for N = 4
###### A
###### BC
###### CDE
###### DEFG

In [28]:
n = int(input())
i = 1
while i <= n:
    j = 1
    startChar = chr(ord('A') + i - 1)
    while j <= i:
        charP = chr(ord(startChar) + j - 1)
        print(charP, end = '')
        j += 1
    print()
    i += 1

 4

A
BC
CDE
DEFG

##### -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

##### ***Print the following pattern for the given N number of rows.***
###### Pattern for N = 5
###### E
###### DE
###### CDE
###### BCDE
###### ABCDE

In [32]:
n = int(input())
i = 1
inp = chr(ord('A') + n -1)
while i <= n:
    j = 1
    startChar = chr(ord(inp) - i + 1)
    while j <= i:
        charP = chr(ord(startChar) + j - 1)
        print(charP, end = '')
        j = j + 1
    print()
    i = i + 1

 8

H
GH
FGH
EFGH
DEFGH
CDEFGH
BCDEFGH
ABCDEFGH

##### -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

##### ***Print the following pattern for the given N number of rows.***
###### Pattern for N = 4
###### 1
###### 11
###### 111
###### 1111

In [35]:
n = int(input())
i = 1
while i <= n:
    j = 1
    while j <= i:
        print('1', end = '')
        j += 1
    print()
    i += 1

 5

1
11
111
1111
11111

##### -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

##### ***Print the following pattern for the given N number of rows.***
###### Pattern for N = 5
###### 1
###### 11
###### 202
###### 3003
###### 40004

In [63]:
n = int(input())
print('1')
i = 2
while i <= n:
    j = 1
    # start = i - 1
    # end = i - 1
    while j <= i:
        if j == 1:
            print(i - 1, end = '')
        elif j > 1 and j < i:
            print('0', end = '')
        else:
            print(i - 1, end = '')
        j = j + 1
        
    print()
    i = i + 1

 5

1
11
202
3003
40004

##### -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

##### ***Print the following pattern for the given N number of rows.***
###### Pattern for N = 5
###### 1
###### 11
###### 121
###### 1221
###### 12221

In [44]:
n = int(input())
print('1')
i = 2
while i <= n:
    j = 1
    start = i - 1
    end = i - 1
    while j <= i:
        if j == 1:
            print('1', end = '')
        elif j > 1 and j < i:
            print('2', end = '')
        else:
            print('1', end = '')
        j = j + 1
        
    print()
    i = i + 1

 5

1
11
121
1221
12221

##### -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

##### ***Print the following pattern for the given N number of rows.***
###### Pattern for N = 5
###### 12345
###### 1234
###### 123
###### 12
###### 1

In [56]:
n = int(input())
i = 1
while i <= n:
    j = n
    while j >= i:
        print(n-j+1, end = '')
        j = j - 1
    print()
    i = i + 1

 5

12345
1234
123
12
1

##### -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

##### ***Print the following pattern for the given N number of rows.***
###### Pattern for N = 5
###### A
###### BB
###### CCC
###### DDDD
###### EEEEE

In [61]:
n = int(input())
i = 1
while i <= n:
    j = 1
    startChar = chr(ord('A') + i - 1)
    while j <= i:
        charP = chr(ord(startChar))
        print(charP, end = '')
        j += 1
    print()
    i += 1

 7

A
BB
CCC
DDDD
EEEEE
FFFFFF
GGGGGGG

##### -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------